DDA Service/ConsoleApplication1/Service References/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Windows" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Windows" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://222.118.68.240:10400/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Threading" />
  <xs:import schemaLocation="http://222.118.68.240:10400/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Freezable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DependencyObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Freezable" nillable="true" type="tns:Freezable" />
  <xs:complexType name="DependencyObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Windows.Threading" base="q1:DispatcherObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DependencyObject" nillable="true" type="tns:DependencyObject" />
  <xs:complexType name="Rect">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_height" type="xs:double" />
      <xs:element name="_width" type="xs:double" />
      <xs:element name="_x" type="xs:double" />
      <xs:element name="_y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rect" nillable="true" type="tns:Rect" />
</xs:schema>